.header {
  position: relative;
  text-transform: lowercase;
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    flex-direction: column;
  }
}

.header-heading {
  @include respond(tab-port) {
    width: 48vw;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 125em) {
  
}

.header-turn-arrow {
  display: flex;
  // @include respond(phone) {
  //   display: none;
  // }
}

.header-curve-arrow {
  @include respond(phone) {
    display: flex;
  }
}