.container {
  min-height: 100vh;
}


.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.back {
  position: absolute;
  left: 2rem;
}

.about {
  padding: 4rem;
  margin-top: 6rem;
  animation: moveInBottom 1s ease-out;

  p {
    font-family: Oswald, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
  }
}
