.code-container {
  min-height: 100vh;
  padding: 3rem;
}

.project-section-container {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  height: 100%;
  min-height: 70vh;
  list-style: none;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: $secondary-font;
  @include respond(tab-port) {
    min-height: 20vh;
    padding: 3rem;
    li {
      margin: 0.5 rem;
    }
  }

  @include respond(phone) {
    font-size: 2rem;
    padding: 0;
    margin-bottom: 5rem;
  }
}

.hidden {
  display: none;
}

@mixin listItem {
  margin: 1.5rem;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  color: $color-grey-dark-2;
  text-transform: uppercase;
  font-family: $primary-font-outline;
  position: relative;
  font-weight: 900;
}

[class^="list-item"] {
  @include listItem;
  &:before {
    @include blackHover;
    font-family: $primary-font-solid;
  }
  &:hover:before {
    @include blackHover;
    font-family: $primary-font-solid;
    width: 100%;
  }
}

.list-item {
  &-wsidt {
    &:before {
      color: $color-wsidt;
      content: "What Should I Do Tonight";
    }
    &:hover:before {
      @include blackHover;
      color: $color-wsidt;
      font-family: $primary-font-solid;
      width: 100%;
    }
  }
  &-cherryTree {
    &:before {
      color: $color-cherryTree;
      content: "cherryTree";
    }
    &:hover:before {
      @include blackHover;
      color: $color-cherryTree;
      font-family: $primary-font-solid;
      width: 100%;
    }
  }
  &-cleannUpp {
    &:before {
      color: $color-cleannUpp;
      content: "Cleann Upp";
    }
    &:hover:before {
      @include blackHover;
      color: $color-cleannUpp;
      font-family: $primary-font-solid;
      width: 100%;
    }
  }
  &-doAustin {
    &:before {
      color: $color-doAustin;
      content: "Do Austin";
    }
    &:hover:before {
      @include blackHover;
      color: $color-doAustin;
      font-family: $primary-font-solid;
      width: 100%;
    }
  }
  &-portfolio {
    &:before {
      color: $color-portfolio;
      content: "Portfolio";
    }
    &:hover:before {
      @include blackHover;
      color: $color-portfolio;
      font-family: $primary-font-solid;
      width: 100%;
    }
  }
}

.selected {
  &-wsidt {
    @include listItem;
    font-family: $primary-font-solid;
    color: $color-wsidt;
  }
  &-cherryTree {
    @include listItem;
    font-family: $primary-font-solid;
    color: $color-cherryTree;
  }
  &-cleannUpp {
    @include listItem;
    font-family: $primary-font-solid;
    color: $color-cleannUpp;
  }
  &-doAustin {
    @include listItem;
    font-family: $primary-font-solid;
    color: $color-doAustin;
  }
  &-portfolio {
    @include listItem;
    font-family: $primary-font-solid;
    color: $color-portfolio;
  }
}

[class^="project-container"] {
  width: 90%;
  min-height: 55rem;
  align-self: flex-start;
  padding: 1rem;
  * {
    font-family: $secondary-font;
    font-size: 2rem;
  }
  @include respond(tab-port) {
    height: auto;
    margin: 2rem 0;
  }
  @include respond(phone) {
    margin: 0;
    width: 100%;
  }
}

.project-logo {
  width: $logo-image-width;
  height: $logo-image-height;
  border-radius: 50%;
  margin-right: 2rem;
}

.project-name {
  font-family: $secondary-font;
  position: relative;
}

.tagline-container {
  position: relative;
  &-header {
    font-size: 5rem;
    font-family: $primary-font-solid;
    @include respond(tab-port) {
      font-size: 3.5rem;
    }
  }
  margin-bottom: 3rem;
}

.description-container {
  font-size: 1.5rem;
  width: 90%;
  * {
    margin: 1.5rem 0;
  }

  li {
    margin-left: 3.3rem;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.description-paragraph {
  margin: 1.6rem 0;
}

@mixin media {
  border-radius: 50%;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.65);
  // -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.65);
  // -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.65);
  a:link {
    text-decoration: none;
  }
  &-directive {
    font-size: 0.8rem;
  }
  @include respond(tab-land) {
    align-items: center;
    justify-content: center;
  }
}

.media {
  &-desktop {
    @include media;
    @include respond(tab-port) {
      display: none;
    }
  }
  &-mobile {
    @include media;
    display: none;
    @include respond(tab-port) {
      display: flex;
    }
  }
}

.project-logo {
  transition: all .5s;
  width: 20rem;
  height: 20rem;
  &:hover {
    transform: scale(1.1);
  }
}

.blob {
  position: absolute;
  z-index: -1;
  width: 18rem;
  top: -4rem;
  left: -3rem;
  @include respond(tab-port) {
    top: -5rem;
  }
}