.code-container {
  min-height: 100vh;
  padding: 3rem;
}

.project-section-container {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  height: 100%;
  min-height: 70vh;
  list-style: none;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: $secondary-font;
}

.hidden {
  display: none;
}

.list-item {
  &-wsidt:before {
    content: "What Should I Do Tonight";
  }
  &-cherryTree:before {
    content: "cherryTree"
  }
  &-cleannUpp:before {
    content: "Cleann Upp"
  }
  &-doAustin:before {
    content: "Do Austin"
  }
  &-portfolio:before {
    content: "Portfolio"
  }
}

@mixin listItem {
  margin: 1.5rem;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  color: $color-grey-dark-2;
  text-transform: uppercase;
  position: relative;
  font-weight: 900;
}

.selected {
  @include listItem;

  color: $color-black
}

[class^="list-item"] {
  @include listItem;
  &:before {
    @include blackHover;
    font-family: $primary-font;
  }
  &:hover:before {
    @include blackHover;
    font-family: $primary-font;
    width: 100%;
  }
}

[class^="project-container"] {
  height: 50rem;
  width: 100%;
  align-self: flex-start;
  font-size: 4rem;
  padding: 1rem;
  * {
    font-family: $secondary-font;
  }
}

.project-logo {
  width: $logo-image-width;
  height: $logo-image-height;
  border-radius: 50%;
  margin-right: 2rem;
}

.project-name {
  font-family: $secondary-font;
  position: relative;
}

.tagline-container {
  position: relative;
  &-header {
    font-size: 5rem;
  }
  margin-bottom: 3rem;
}

.description-container {
  font-size: 1.5rem;
  width: 80%;
  * {
    margin: 1.5rem 0;
  }

  li {
    margin-left: 3.3rem;
  }

  @include respond(tab-land) {
    width: 100%;
  }
}

.description-paragraph {
  margin: 1.6rem 0;
}

.media {
  border-radius: 50%;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.65);
  // -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.65);
  // -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.65);
  a:link {
    text-decoration: none;
  }
  &-directive {
    font-size: 0.8rem;
  }
  @include respond(tab-land) {
    align-items: center;
    justify-content: center;
  }
}

.project-logo {
  transition: all .5s;
  width: 20rem;
  height: 20rem;
  &:hover {
    transform: scale(1.1);
  }
}

.blob {
  position: absolute;
  z-index: -1;
  width: 18rem;
  top: -4rem;
  left: -3rem
}