.index-container {
  padding: 3rem;
  @include background;
}

.description-text {
  font-size: 8rem;

  @include respond(tab-port) {
      font-size: 5.6rem;
  }
  @include respond(phone) {
      font-size: 4rem;
  }
}