.toc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
  * {
    font-family: $secondary-font;
  }
}

.toc-header {
  font-size: 3.5rem;
}

@mixin blackHover {
  font-family: $secondary-font;
  position: absolute;
  top: 0;
  left: 0;
  color: $color-black;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  line-break: unset;
  transition: all 0.5s;
}

.state-options-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  a:link {
    text-decoration: none;
    &:hover {
      // height: 3rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // padding: 2rem 0;
      // text-decoration: underline;
      // background: rgba(0, 0, 0, .5);
      // border-radius: 1rem;
    }
  }
  li {
    margin: 1.5rem;
    color: $color-grey-dark-2;
    text-transform: uppercase;
    position: relative;
    &:before {
      @include blackHover;
    }
    &:hover:before {
      @include blackHover;
      width: 100%;
    }
  }
}

.list-item {
  &-newMexico:before {
    content: "New Mexico";
  }
  &-texas:before {
    content: "Texas"
  }
  &-florida:before {
    content: "Florida"
  }
  &-texas:before {
    content: "Texas"
  }
}

.photos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home {
  position: absolute;
  cursor: pointer;
  right: 8vw;
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 3rem;
  text-decoration: none;
  color: $color-black;
}

.photos-container-header {
  text-align: center;
  font-size: 5rem;
  justify-self: center;
  align-self: center;
}

.photos-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: $photo-width;
  height: $photo-height;
}

.photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover,
  img:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    &:after {
      content: attr(data-hover);
      font-size: 5rem;
    }
  }
} 

// IMAGE CAROUSEL
.image-carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-photo {
  width: 100%;
  height: 100%;
  position: relative;
}

.photo-caption {
  position: absolute;
  bottom: 0;
  font-family: $secondary-font;
  background: rgbaBlack(0.5);
  color: white;
  min-height: 4rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;

  &:active {
    transform: scale(.9);
  }
}

.prev {
  transform: rotate(180deg);
  transition: none;
}

.prev:hover {
  transform: rotate(180deg);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.close-btn-container {
  position: absolute;
  top: 10px;
  right: 25px;
}

.close-btn {
  position: relative;
  font-family: $primary-font;

  cursor: pointer;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
  color: $color-grey-dark-2;
  text-transform: uppercase;
  &:before {
    @include blackHover;
    font-family: $primary-font;
    content: "X";
  }
  &:hover:before {
    @include blackHover;
    font-family: $primary-font;
    width: 100%;
  }


  // &:hover
  // &:focus {
  //   color: #999;
  //   text-decoration: none;
  // }
}
