@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid&family=Oswald&display=swap');

// SHARED
$arrow-width: 8rem;
$arrow-height: 8rem;

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-wsidt: #3C50C1;
$color-atxhh: #fa75aa;
$color-cherryTree: #FF9191;
$color-cleannUpp: #89A141;
$color-doAustin: #ff7730;
$color-portfolio: #2998ff;


$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
$primary-font-outline: 'Londrina Outline';
$primary-font-solid: 'Londrina Solid';
$secondary-font: 'Oswald';


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


// HEADER
$header-height: 25vh;

// HOME
$section-image-height: 24rem;
$contact-height: 5rem;
$contact-width: 5rem;

// CODE
$logo-image-height: 15rem;
$logo-image-width: 15rem;

// PHOTOS
$photo-width: 25rem;
$photo-height: 25rem;