
.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

.back {
  position: absolute;
  left: 2rem;
}