
.dynamicHeader-container {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}

@mixin arrow {
  display: flex;
  opacity: 1;
  animation: fadeIn;
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

.arrow-header {
  &-left {
    @include arrow;
    @include displayNoneOnPhone;
  }
  &-right {
    @include arrow;
    @include displayNoneOnPhone;
  }
}

@mixin header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.header-container {
  @include header;
}

.sub-header-container {
  @include header;
  &-left {
    @include header;
    justify-content: flex-start;
  }
  &-right {
    @include header;
    justify-content: flex-end;
  }
}